In [2]:
import pandas as pd

### Cargar el dataset

In [3]:
file_path = "supply_chain_data.csv"
datos = pd.read_csv(file_path)

### Mostrar las primeras filas del dataset

In [4]:
datos.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [5]:
print(datos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product type             100 non-null    object
 1   SKU                      100 non-null    object
 2   Price                    100 non-null    float64
 3   Availability             100 non-null    int64
 4   Number of products sold  100 non-null    int64
 5   Revenue generated        100 non-null    float64
 6   Customer demographics    100 non-null    object
 7   Stock levels             100 non-null    int64
 8   Lead times               100 non-null    int64
 9   Order quantities         100 non-null    int64
 10  Shipping times           100 non-null    int64
 11  Shipping carriers        100 non-null    object
 12  Shipping costs           100 non-null    float64
 13  Supplier name            100 non-null    object
 14  Location                 100 non-null    object
 15  Lead time                100 non-null    int64
 16  Production volumes       100 non-null    int64
 17  Manufacturing lead time  100 non-null    int64
 18  Manufacturing costs      100 non-null    float64
 19  Inspection results       100 non-null    object
 20  Defect rates             100 non-null    float64
 21  Transportation modes     100 non-null    object
 22  Routes                   100 non-null    object
 23  Costs                    100 non-null    float64
dtypes: float64(6), int64(9), object(9)
memory usage: 18.9+ KB
None

In [7]:
print(datos.describe(include='all'))

       Product type   SKU       Price  Availability  Number of products sold  \
count           100   100  100.000000    100.000000               100.000000
unique            3   100         NaN           NaN                      NaN
top        skincare  SKU0         NaN           NaN                      NaN
freq             40     1         NaN           NaN                      NaN
mean            NaN   NaN   49.462461     48.400000               460.990000
std             NaN   NaN   31.168193     30.743317               303.780074
min             NaN   NaN    1.699976      1.000000                 8.000000
25%             NaN   NaN   19.597823     22.750000               184.250000
50%             NaN   NaN   51.239831     43.500000               392.500000
75%             NaN   NaN   77.198228     75.000000               704.250000
max             NaN   NaN   99.171329    100.000000               996.000000

        Revenue generated Customer demographics  Stock levels  Lead times  \
count          100.000000                   100    100.000000  100.000000
unique                NaN                     4           NaN         NaN
top                   NaN               Unknown           NaN         NaN
freq                  NaN                    31           NaN         NaN
mean          5776.048187                   NaN     47.770000   15.960000
std           2732.841744                   NaN     31.369372    8.785801
min           1061.618523                   NaN      0.000000    1.000000
25%           2812.847151                   NaN     16.750000    8.000000
50%           6006.352023                   NaN     47.500000   17.000000
75%           8253.976921                   NaN     73.000000   24.000000
max           9866.465458                   NaN    100.000000   30.000000

        Order quantities  ...  Location   Lead time  Production volumes  \
count         100.000000  ...       100  100.000000          100.000000
unique               NaN  ...         5         NaN                 NaN
top                  NaN  ...   Kolkata         NaN                 NaN
freq                 NaN  ...        25         NaN                 NaN
mean           49.220000  ...       NaN   17.080000          567.840000
std            26.784429  ...       NaN    8.846251          263.046861
min             1.000000  ...       NaN    1.000000          104.000000
25%            26.000000  ...       NaN   10.000000          352.000000
50%            52.000000  ...       NaN   18.000000          568.500000
75%            71.250000  ...       NaN   25.000000          797.000000
max            96.000000  ...       NaN   30.000000          985.000000

       Manufacturing lead time Manufacturing costs  Inspection results  \
count                100.00000          100.000000                 100
unique                     NaN                 NaN                   3
top                        NaN                 NaN             Pending
freq                       NaN                 NaN                  41
mean                  14.77000           47.266693                 NaN
std                    8.91243           28.982841                 NaN
min                    1.00000            1.085069                 NaN
25%                    7.00000           22.983299                 NaN
50%                   14.00000           45.905622                 NaN
75%                   23.00000           68.621026                 NaN
max                   30.00000           99.466109                 NaN

        Defect rates  Transportation modes   Routes       Costs
count     100.000000                   100      100  100.000000
unique           NaN                     4        3         NaN
top              NaN                  Road  Route A         NaN
freq             NaN                    29       43         NaN
mean        2.277158                   NaN      NaN  529.245782
std         1.461366                   NaN      NaN  258.301696
min         0.018608                   NaN      NaN  103.916248
25%         1.009650                   NaN      NaN  318.778455
50%         2.141863                   NaN      NaN  520.430444
75%         3.563995                   NaN      NaN  763.078231
max         4.939255                   NaN      NaN  997.413450

[11 rows x 24 columns]

In [8]:
print(datos.columns)

Index(['Product type', 'SKU', 'Price', 'Availability',
       'Number of products sold', 'Revenue generated', 'Customer demographics',
       'Stock levels', 'Lead times', 'Order quantities', 'Shipping times',
       'Shipping carriers', 'Shipping costs', 'Supplier name', 'Location',
       'Lead time', 'Production volumes', 'Manufacturing lead time',
       'Manufacturing costs', 'Inspection results', 'Defect rates',
       'Transportation modes', 'Routes', 'Costs'],
      dtype='object')

In [9]:
# Renombrar columnas
datos.columns = datos.columns.str.strip().str.lower().str.replace(' ', '_')

In [10]:
# Verificar valores nulos por columna
print(datos.isnull().sum())

product_type               0
sku                        0
price                      0
availability               0
number_of_products_sold    0
revenue_generated          0
customer_demographics      0
stock_levels               0
lead_times                 0
order_quantities           0
shipping_times             0
shipping_carriers          0
shipping_costs             0
supplier_name              0
location                   0
lead_time                  0
production_volumes         0
manufacturing_lead_time    0
manufacturing_costs        0
inspection_results         0
defect_rates               0
transportation_modes       0
routes                     0
costs                      0
dtype: int64

In [14]:
# Eliminar duplicados
datos = datos.drop_duplicates()

In [15]:
# Identificar columnas numÃ©ricas
columnas_numericas = ['price', 'number_of_products_sold', 'revenue_generated', 
                      'stock_levels', 'shipping_costs', 'manufacturing_costs']

# Detectar outliers para cada columna numÃ©rica
for columna in columnas_numericas:
    q1 = datos[columna].quantile(0.25)  # Primer cuartil
    q3 = datos[columna].quantile(0.75)  # Tercer cuartil
    iqr = q3 - q1                        # Rango intercuartÃ­lico
    limite_inferior = q1 - 1.5 * iqr     # LÃ­mite inferior
    limite_superior = q3 + 1.5 * iqr     # LÃ­mite superior
    
    # Filtrar y mostrar valores fuera de los lÃ­mites
    outliers = datos[(datos[columna] < limite_inferior) | (datos[columna] > limite_superior)]
    print(f"Outliers detectados en la columna {columna}: {len(outliers)}")

Outliers detectados en la columna price: 0
Outliers detectados en la columna number_of_products_sold: 0
Outliers detectados en la columna revenue_generated: 0
Outliers detectados en la columna stock_levels: 0
Outliers detectados en la columna shipping_costs: 0
Outliers detectados en la columna manufacturing_costs: 0

In [16]:
datos['profit_margin'] = ((datos['revenue_generated'] - datos['manufacturing_costs']) / 
                          datos['revenue_generated']) * 100

In [17]:
datos['average_cost_per_product'] = datos['revenue_generated'] / datos['number_of_products_sold']

In [18]:
# Exportar el DataFrame limpio a CSV
datos.to_csv("supply_chain_cleaned.csv", index=False)